:root {
  --laranja: #ff8f29;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 6.4rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.8rem;
}

p {
  font-size: 2.4rem;
}

a {
  color: white;
}

a:hover {
  color: var(--laranja);
}

main {
  background: url("/assets/images/background.jpg") no-repeat bottom/cover;
  min-height: max(670px, 100vh);
  color: white;
}

button,
.button {
  font-family: "Ubuntu", sans-serif;

  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 2;
  padding: 0 4rem;
  cursor: pointer;
}

.button,
button {
  font-size: clamp(10px, 1.8rem, 3vw);
  transition: 0.2s;
}

.button:hover,
button:hover {
  background-color: white;
  color: var(--laranja);
}

button {
  font-size: 2.4rem;
  font-weight: 500;
}

input {
  font-family: "Ubuntu", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form input {
  font-size: 2rem;
  font-weight: 300;
  border-radius: 1.5rem;
  text-indent: 3.5rem;
  height: 6rem;
  width: 100%;
}

.bricks-form__field {
  width: 100%;
}

form input {
  margin-top: 1rem;
}

.error {
  display: flex;
  font-size: 2rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 45%;
  grid-template-rows: 25rem 28rem;
  grid-template-areas: "logo button"
    "left right";
  padding: 2rem 20rem 0;
}

.logo {
  width: 8.2rem;
  grid-area: logo;
}

.button-area {
  display: flex;
  justify-content: flex-end;
}

.container .button {
  width: 28.5rem;
  height: 5rem;
}

.button.mobile {
  display: none;
}

.main-content {
  grid-area: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-content p {
  margin-top: 3rem;
}

.main-content .store-buttons {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.main-content img {
  width: 18.3rem;
  margin: 4.3rem 0 0;
  border-radius: 0.7rem;
}

.main-content .store-buttons a {
  transition: 0.2s;
  height: 4rem;
}

.main-content .store-buttons a:hover {
  filter: invert(1);
}

.main-content img:nth-child(1) {
  margin-right: 2rem;
}

body section:nth-child(2) {
  min-height: 100vh;
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  background: url("/assets/images/Imagem.png") bottom/contain no-repeat;
  background-position-x: 10rem;
  background-size: 50%;
}

body section:nth-child(2)::before {
  border: 1rem solid var(--laranja);
  padding: 10rem;
  width: 20rem;
  height: 20rem;
}

@keyframes easi-circle {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}

.sec-2-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  width: 80%;
}

.sec-2-text h2 {
  color: var(--laranja);
  text-align: start;
  margin-bottom: 2rem;
}

body section:nth-child(3) {
  min-height: max(401px, 60vh);
  padding: 0 20rem;
  background: url("/assets/images/background-inscricao.jpg") left/cover;
  color: white;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.sec-3-text {
  margin-bottom: 8rem;
}

.sec-3-text p {
  margin-top: 2rem;
}

form {
  margin-left: 6rem;
}

form button {
  margin: 1rem auto 0;
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body section:nth-child(4) {
  min-height: max(1010px, 150vh);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 min(20rem, 20%);
}

.sec-4-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20rem;
}

.sec-4-title img {
  width: 4rem;
  margin-bottom: 2rem;
}

.sec-4-title h2 {
  color: var(--laranja);
}

.cards>div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 10rem;
  column-gap: 5rem;
}

.cards>div input {
  display: none;
}

.card-header {
  display: flex;
  align-items: center;
}

.card-text {
  border-left: 5px solid var(--laranja);
  padding: 0 0 0 1rem;
}

.card img {
  width: 8.1rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.card h4 {
  color: var(--laranja);
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.card p {
  font-size: 1.8rem;
}

body section:nth-child(5) {
  min-height: max(870px, 140vh);
  background: url("/assets/images/background-calculadoora.svg") center top/cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec-5-top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30vh 0 0rem 0;
}

.sec-5-top-content p {
  margin-top: 2rem;
}

.sec-5-logo {
  width: 14.6rem;
}

.calculators-wrapper {
  display: flex;
  margin: auto;
  width: 100%;
}

.calculators {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.calculator {
  width: 28.5rem;
  box-shadow: rgba(90, 79, 79, 0.2) 0px 0.1rem 1.3rem 0.1rem;
  border-radius: 1.5rem;
}

.calculator:not(:last-child) {
  margin-right: 2rem;
}

.calculator.moby {
  width: 43rem;
}

.moby .results {
  color: black;
}



.a .image,
.b .image {
  width: 7rem;
  height: 7rem;
  border-radius: 1rem;
}

.a .image,
.b .image,
.moby .image {
  margin-right: 2rem;
}

.moby .image {
  display: flex;
  align-items: center;
  width: 100%;
}

.moby .image h4 {
  margin-left: 2rem;
}

.info-icon {
  cursor: pointer;
  width: 4rem;
  filter: brightness(0);
  transition: 0.2s;
}

.info-icon:hover {
  filter: brightness(1);
}

.close-modal {
  cursor: pointer;
  filter: brightness(0);
  transition: 0.2s;
}

.close-modal:hover {
  filter: brightness(1);
}

.a .image {
  background: black;
}

.b .image {
  background: #ffd62c;
}

.calculator-header {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.calculator label,
.calculator p {
  font-size: 1.6rem;
  font-weight: 700;
}

.calculator label {
  margin-bottom: 1rem;
}

.input-areas:not(:last-child) p {
  margin-bottom: 3rem;
}

.calculator input {
  height: 5rem;
  border: 1px solid black;
  border-radius: 5px;
  text-indent: 2rem;
  width: 100%;
}

.input-areas {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.input-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

.parameters {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: white;
  color: black;
  padding: 2rem;
  border-radius: 15px 15px 0 0;
}

.results {
  border-radius: 0 0 15px 15px;
  padding: 2rem;
}

.results button {
  margin: auto;
}

.a .results {
  background: black;
}

.moby .results {
  background: #2dc6ea;
}

.moby .parameters #consumo {
  width: 100%;
}

.moby .parameters .input-areas .input-area:first-child {
  margin-right: 1rem;
}

.b p {
  color: black;
}

.b .results {
  background: #ffd62c;
}

.calculator .results p {
  margin: auto 0;
}

.calculator .results .input-areas {
  align-items: center;
  height: 5rem;
}

.moby .results .input-areas {
  background: #29b5d4;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
  padding: 0 2rem;
}

.moby .results div {
  color: white;
}

.moby .results div:last-of-type {
  color: black;
  background-color: white;
}

#modal {
  padding: 2rem;
  border-radius: 1.5rem;
  margin: auto;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.modal-header h3 {
  color: var(--laranja);
  font-size: 3rem;
}

.modal .info-section:not(:last-child) {
  margin-bottom: 2rem;
}

.info-section>p:last-child {
  font-weight: 400;
  margin-top: 0.5rem;
}

p.info-description {
  font-weight: 400;
  font-style: italic;
  color: gray;
}

body section:nth-child(6) {
  background: linear-gradient(180deg, #ff8f29 0%, #e46d00 100%);
  min-height: max(401px, 60vh);
  padding: 0 20rem;
  color: white;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.sec-6-text {
  margin-bottom: 8rem;
}

.sec-6-text h2 {
  margin-bottom: 2rem;
}

footer {
  min-height: max(330px, 50vh);
  background-color: black;
  padding: 0 min(20rem, 10%);
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.footer-logo {
  width: 18.5rem;
  align-self: top;
  margin-top: 4rem;
}

.footer-text {
  font-size: 1.8rem;
}

.footer-title {
  color: var(--laranja);
}

footer p {
  font-size: 1.8rem;
  margin-top: 4rem;
}

footer .contact {
  margin-bottom: 4rem;
}

.terms-title {
  display: none;
}

.footer-download {
  display: flex;
  flex-direction: column;
  margin: 4rem auto;
}

.footer-download a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.6rem;
  transition: 0.2s;
}

.footer-download a:hover {
  filter: invert(25%) sepia(60%) saturate(4255%) hue-rotate(337deg) brightness(100%) contrast(108%);
}

.footer-download a:not(:last-child) {
  margin-bottom: 2rem;
}

.footer-download img {
  width: 14.6rem;
  margin-bottom: 2rem;
}

footer div .button {
  margin-top: 4rem;
  font-size: 2rem;
  font-weight: 500;
  justify-content: center;
  text-align: center;

  white-space: nowrap;

  background-color: var(--laranja);
  border: 0;
}

.footer-social p {
  margin: 0;
  margin-bottom: 4rem;
}

.footer-social img {
  width: 3rem;
  margin-right: 3rem;
  transition: 0.2s;
}

.footer-social img:hover {
  filter: invert(25%) sepia(60%) saturate(4255%) hue-rotate(337deg) brightness(100%) contrast(108%);
}



@media screen and (max-width: 1400px),
screen and (min-height: 710px) {
  html {
    font-size: 8px;
  }

  .sec-5-top-content {
    /* margin-top: 250px; */
  }
}

@media (max-width: 785px) {
  body {
    overflow-x: hidden;
    max-width: 100vw;
  }

  body *::-webkit-scrollbar {
    display: none;
  }

  h1 {
    font-size: 5.2rem;
  }

  p {
    font-size: 3rem;
  }

  main {
    background: url("/assets/images/background-mobile.jpg") no-repeat center/cover;
    min-height: 110rem;
  }

  section {
    min-height: 90rem;
  }

  .container {
    grid-template-rows: 0.85fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
      "content";
    padding: 2rem 4rem 0;
  }

  .logo {
    grid-area: header;
  }

  .button.desktop {
    display: none;
  }

  .button {
    padding: 0;
  }

  .button.mobile {
    display: inherit;
    width: 100%;
    height: auto;
    margin-top: 3rem;
    font-size: 3rem;
    align-self: flex-start;
  }

  .main-content .store-buttons {
    margin-top: 5rem;
    justify-content: center;
  }

  .store-buttons a:not(:last-child) {
    margin-right: 2rem;
  }

  .store-buttons img {
    width: 100%;
    margin: 0;
  }

  .store-buttons a:nth-child(1) img {
    content: url("/assets/images/appstore-filled.svg");
  }

  .store-buttons a:nth-child(2) img {
    content: url("/assets/images/googleplay-filled.svg");
  }

  .main-content {
    grid-area: content;
  }

  .main-content h1 {
    line-height: 8rem;
  }

  .main-content p {
    font-weight: 200;
  }

  .main-styled-text {
    background: var(--laranja) bottom/contain;
  }

  body section:nth-child(2) {
    height: 80rem;
    grid-template-columns: 1fr;
    grid-template-rows: 45% 1fr;
    grid-template-areas: "texto"
      "bg";
    padding: 0 4rem;
    background-size: 100%;
    background-position: center bottom;
  }

  .sec-2-text {
    grid-area: texto;
    width: 100%;
  }

  body section:nth-child(3) {
    background-position-x: 10%;
    display: flex;
    min-height: 80rem;
    flex-direction: column;
    padding: 0 2rem;
    justify-content: center;
    align-items: center;
  }

  .sec-3-text {
    margin: auto;
  }

  .sec-3-text p {
    text-align: start;
  }

  body section:nth-child(3) form {
    margin: auto;
    width: 100%;
  }

  body section:nth-child(4) {
    display: flex;
    height: 10rem;
    padding: 0 2rem;
    text-align: center;
  }

  .sec-4-title {
    margin-bottom: 20rem;
  }

  .cards {
    display: flex;
    width: 100%;
  }

  .cards>div {
    display: flex;
    overflow-x: hidden;
  }

  .cards>div input {
    display: none;
  }

  .card {
    background-color: #f1f1f1;
    padding: 2rem;
    border-radius: 2rem;
    min-width: 80%;
    transition: 0.5s;
  }

  .card p {
    font-size: unset;
  }


  .card-header img {
    margin-right: 1rem;
  }

  .card-header h4 {
    font-size: 3rem;
    text-align: start;
  }

  .card-text {
    text-align: start;
    height: auto;
  }

  .manual-navigation {
    position: absolute;
    width: 100%;
    display: flex;
    margin-top: 35rem;
    justify-content: center;
  }

  .manual-btn {
    background-color: #f1f1f1;
    border: 0.2rem solid rgb(199, 199, 199);
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s;
  }

  .manual-btn:hover {
    background-color: var(--laranja);
  }

  #radio1:checked~.first {
    margin-left: 0;
  }

  #radio2:checked~.first {
    margin-left: -73.5vw;
  }

  #radio3:checked~.first {
    margin-left: -156vw;
  }

  #radio4:checked~.first {
    margin-left: -238.5vw;
  }

  #radio5:checked~.first {
    margin-left: -321vw;
  }

  #radio6:checked~.first {
    margin-left: -404vw;
  }

  .navigation-auto div {
    background-color: var(--laranja);
    border: 0.2rem solid rgba(199, 199, 199, 0);
    padding: 0.5rem;
    margin-top: 35rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s;
  }

  .navigation-auto div:not(:last-child) {
    margin-right: 5rem;
  }

  .navigation-auto {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #radio1:checked~.navigation-auto .auto-btn1 {
    background-color: var(--laranja);
    z-index: 99;
  }

  #radio2:checked~.navigation-auto .auto-btn2 {
    background-color: var(--laranja);
    z-index: 99;
  }

  #radio3:checked~.navigation-auto .auto-btn3 {
    background-color: var(--laranja);
    z-index: 99;
  }

  #radio4:checked~.navigation-auto .auto-btn4 {
    background-color: var(--laranja);
    z-index: 99;
  }

  #radio5:checked~.navigation-auto .auto-btn5 {
    background-color: var(--laranja);
    z-index: 99;
  }

  #radio6:checked~.navigation-auto .auto-btn6 {
    background-color: var(--laranja);
    z-index: 99;
  }

  body section:nth-child(5) {
    flex-direction: column;
    text-align: center;
    overflow: hidden;

    width: 100%;
    padding: 0;
  }

  .sec-5-top-content {
    /* margin-top: 35rem; */
  }

  .calculators-wrapper {
    overflow-x: scroll;

  }

  .calculators {
    width: unset;
  }

  .calculators::-webkit-scrollbar {
    display: none;
  }

  .calculators .calculator {
    min-width: 35rem;
  }

  #modal {
    text-align: start;
  }

  body section:nth-child(6) {
    display: flex;
    min-height: 80rem;
    flex-direction: column;
    padding: 0 4rem;
    justify-content: center;
    align-items: center;
  }

  body section:nth-child(6) form {
    margin: auto;
  }

  .bricks-form__field {
    width: 100%;
  }

  .sec-6-text {
    margin: auto;
  }

  .sec-6-text p {
    text-align: start;
  }

  footer {
    height: 70rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  footer p,
  .footer-social p {
    margin: 4rem 0 2rem;
    font-size: 2.3rem;
  }

  footer>div>div {
    display: flex;
    justify-content: space-evenly;
  }

  footer>div>div p,
  footer>div>div .button {
    margin: 0;
  }

  .footer-logo {
    width: 18.5rem;
    align-self: center;
  }

  .footer-download {
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }

  footer>img {
    content: url("/assets/images/logolevhori.svg");
    margin-top: 4rem;
  }

  .footer-download img {
    margin: 0;
  }

  footer div .button {
    padding: 0 2rem;
  }

  .terms-title {
    display: block;
  }

}

@media (min-width: 3025px) {
  .sec-5-top-content {
    /* margin-top: 40rem; */
  }
}

@media (max-width: 490px) {
  html {
    font-size: 1.5vw;
  }

  .container {
    padding: 2rem 2rem 0;
  }

  body section:nth-child(2) {
    padding: 2rem;
  }

  body section:nth-child(3) {
    padding: 2rem;
  }

  body section:nth-child(4) {
    padding: 2rem;
  }

  body section:nth-child(6) {
    padding: 2rem;
  }

  footer {
    padding: 2rem;
  }

}

@media (max-width: 415px) {
  .sec-5-top-content {
    /* margin-top: 50rem; */
  }
}

@media (max-width: 390px) {
  .container {
    grid-template-rows: 45rem 1fr;
  }
}

@media (max-width: 350px) {
  .container {
    grid-template-rows: 60rem 1fr;
  }
}

@media (max-width: 340px) {
  .sec-5-top-content {
    /* margin-top: 70rem; */
  }
}

@media (max-width: 300px) {
  .container {
    grid-template-rows: 70rem 1fr;
  }
}