html {
  font-size: 10px;
}

body {
  background: url("/assets/images/background-thankyou.jpg") no-repeat center/cover;
  height: 100vh;
  min-height: clamp(800px, 100vh, 1080px);
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  scroll-behavior: smooth;

  display: grid;
  grid-template-rows: 15rem 1fr;
  padding: 0 min(20rem, 5vw);
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 6.4rem;
}

p {
  font-size: 2.4rem;
}

.logo-lev {
  display: flex;
  justify-self: center;
  width: 8.2rem;
  margin-top: 2rem;
}

.body-content-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.body-content {
  color: white;
}

.body-text p {
  margin: 3rem 0;
}

.app-section p {
  font-weight: 700;
  margin-bottom: 1rem;
}

.store-buttons a:not(:last-child) {
  margin-right: 2rem;
}

.store-buttons {
  display: flex;
}

.store-buttons img {
  width: 20rem;
}

@media screen and (max-width: 840px) {
  html {
    font-size: 8px;
  }

  body {
    background-image: linear-gradient(to right, rgb(0, 81, 92), rgba(0, 81, 92, 0.479)),
    url("/assets/images/background-thankyou.jpg");
    background-position: 70%;
    padding: 1rem;
  }

  .body-content-container {
    display: flex;
  }

  .store-buttons a:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .store-buttons {
    display: flex;
  }


  .store-buttons a:nth-child(1) {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 350px) {
  html {
    font-size: 2vw;
  }
  .body-content-container {
    text-align: center;
  }

  
}